*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.box0{
    background-color: black;
}
.cont{
    width: 100vw;
    background-image: url('img/사각형\ 1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.main_logo{
    width: 100%;
    height: 396px;
    text-align: center;
    padding-top: 93px ;
}
.button_background{
    background-image: url('img/main_img.png');
    width: 1186px;
    height: 424px;
    text-align: center;
    margin-top: 51px;
}
.wrap{
    width: 1186px;
    height: 424px;
    margin: 0 auto;
}

.box1{
    height: 70px;
    width:1130px;
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

}

/*--서브01 CSS 시작--*/

.s01_b00{
    width: 100%;
    background-color: pink;
}
.s01_b01{
    height: 800px;
    background-image: url('img/about_back.png');
    background-size: cover;
}
.s01_b02{
    height: 1452px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_bo02{
    width: 1256px;
    height: 593px;
    border-bottom: 3px solid#707070;
    margin: 0 auto;

}
.s01_b03{height: 477px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_bo03{width: 1263px;
        height: 420px;
        border-bottom: 3px solid#707070;
        border-top: 3px solid#707070;
        margin: 0 auto;
        padding-top: 50px;
}
.s01_b04{
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_bo04{
    width: 1256px;
    height: 593px;
    border-bottom: 3px solid#707070;
    margin: 0 auto;
    padding-top: 54px;
}
.s01_b05{
    height: 1060px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b_bo05{
    width: 1263px;
    height: 1009px;
    border-bottom: 3px solid#707070;
    margin: 0 auto;
    padding-top: 54px;

}
.s01_b06{
    height: 1115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -100px;
    padding-bottom: 150px;
}
.ft{
    width: 100%;
    height: 103px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--네비게이션 시작--*/
nav{
    width: 1500px;
    height: 77px;
    margin: 0 auto;
    padding-top: 40px;
}
ul{
    width: 1500px;
    height: 77px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 90px;
}
.bt00{
    padding-right: 200px; margin-top: -20px;
}
.bt00:hover{filter: invert(1);}
.bt01:hover{filter: invert(1);}
.bt02:hover{filter: invert(1);}
.bt03:hover{filter: invert(1);}

.s01_bo1_txt{
    width: 192px;
    height: 62px;
    padding-top: 240px;
    padding-left: 70px;
}

/*--서브02 CSS 시작--*/
.s02_bo1_txt{
    width: 192px;
    height: 62px;
    padding-top: 240px;
    padding-left: 70px;
}
.s02_b01{
    height: 800px;
    background-image: url('img/works_back.png');
    background-size: cover;
    margin-bottom: 300px;
}
.s02_b02{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s02_b03{
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;}

.s02_b04{
    height: 1408px;
    display: flex;
    justify-content: center;
    align-items: center;}

.s02_b05{
    height:1890px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.s02_b06{
    height: 364px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s02_b07{
    height: 684px;
    display: flex;
    justify-content: center;
    align-items: center;}

.s02_b08{
    height: 665px;
    display: flex;
    justify-content: center;
    align-items: center;}

.s02_b09{
    height: 754px;
    display: flex;
    justify-content: center;
    align-items: center;}

.s02_b10{
    height: 1740px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;}

.s02_b11{
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;}

 .s02_b12{
    height: 754px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.s02_b13{
    height: 2007px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.s02_b14{
    height: 853px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--서브03 CSS 시작--*/
.s03_b01_txt{
    width: 192px;
    height: 62px;
    padding-top: 240px;
    padding-left: 70px;}

.s03_b01{
    height: 800px;
    background-image: url('img/interview_back.png');
    background-size: cover;
    margin-bottom: 200px;}

.s03_b02{
    height: 806px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b03{
    height: 748px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b04{
    height: 931px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b05{
    height: 894px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b06{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b07{
    height: 814px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s03_b08{
    height: 641px;
    display: flex;
    justify-content: center;
    align-items: center;
}